/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background: #FFF5E4;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #850E35;
  border-bottom: 5px solid #8D9EFF;
  z-index: 9999;
}

.top-bar .navigasi {
  width: 100%;
}

.top-bar .navigasi a {
  width: 20%;
  text-align: center;
  float: left;
  color: #FFC4C4;
  text-decoration: none;
  font-size: 25px;
  background-color: #850E35;
  padding-top: 5px;
}

.top-bar .navigasi a:hover {
  color: #EE6983;
}

.container {
  width: 1020px;
  margin: 80px auto;
  background-color: #FFC4C4;
  position: relative;
  border-radius: 20px;
}

.container h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.container button {
  border: 2px solid #EE6983;
  position: relative;
  float: right;
  right: 50px;
  border-radius: 5px;
}

.container input {
  size: 40;
  height: 35px;
  border-color: #EE6983;
  border-radius: 50px;
  top: 10px;
  margin-left: 285px;
}

.container table {
  position: relative;
  border-collapse: collapse;
  width: max-content;
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: #FFF5E4;
  border-collapse: 1px;
	border-spacing: 1px;
  margin-left: 15px;
  display: inline-block;
  column-width: 900px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.container table td {
  height: 100px;
}


